*{
    margin: 0;
    padding: 0;
}
nav img {
    width: 110px;
    height: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px;
}
.navlink{
    font-size: 20px;
    word-spacing: 20px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navlink a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.navlink a:hover{
    color: red;
}
.navbutton button{
    border-radius: 25px;
    border: 1px solid black;
    background: white;
    padding: 12px;
    color: red;
}
.navbutton button:hover{
    color:black;
     border-radius: 25px;
    border: 1px solid red;
    background: white;
    padding: 12px;
}
 .navbutton .second{
    color: black;
    border: none;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.navbutton .second:hover{
    color:red
}
section{
    padding-left: 100px;
    padding-right: 100px;
}
.section1{
    text-align: center;
}
.section1 h1{
     font-size: 50px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.section1 p{
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section1 button{
    font-size: 30px;
    padding: 6px;
    border-radius: 25px;
    background: red;
    color: white;
}
.john{
    display: flex;
    align-items: center;
}
.john h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.john p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.john img{
    width: 300px;
}

.john2{
    display: flex;
    align-items: center;
}
.john2 h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.john2 p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.john2 img{
    width: 300px;
}

.john3{
    display: flex;
    align-items: center;
}
.john3 h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.john3 p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.john3 img{
    width: 300px;
}


.john4{
    display: flex;
    align-items: center;
}
.john4 img{
 width: 300px;
}
.john4 h1{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.john4 p{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lastjohn {
    color: black;
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.lastjohn span{
    padding: 4px;
    align-items: center;
    font-size: 10px;
}

.lastjohn div {
    display: flex;
    padding: 10px;
}
.lastjohn h2{
    font-size: 30px;
}
.johnlast div{
    font-size: 30px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.johnlast button{
    font-size: 30px;
    padding: 6px;
    border-radius: 25px;
    background: red;
    color: white;
}
.johnlast button:hover{
    color: darkred;
}
.footer{
    font-size: 20px;
    word-spacing: 20px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
}
.footer a:hover{
    color: red;
}
footer img {
    width: 110px;
    height: 100px;
}
footer p {
    font-weight: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media(max-width:768px){
    .navlink{
        display: none;
    }
    .navbutton{
        display: flex;
    }
    .john{
        flex-wrap:wrap;
        gap: 10px;
    }
    .john2{
     flex-wrap: wrap;
     gap: 10px;   
    }
    section{
        padding-left: 50px;
        padding-right: 50px;
    }
    .john3{
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }
      .john4{
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
    }
    .lastjohn div {
        flex-wrap: wrap;
    }
    
    .johnlast{
        flex-wrap: wrap;
        align-items: center;
    }
    .footer{
        flex-wrap: wrap;
        align-items: center;
    }
    .footer a{
          flex-wrap: wrap;
        align-items: center;
    }

}

